html{
    font-size: 20px;
}

body{
    height: 600px;
    width: 400px;
}

h1{
    font-size: 2rem;

}

.dev-em{
    width: 30%;
    height: 50%;
    background-color: blueviolet;
    font-size: 12px;
}

#rem{
    font-size: 1.125rem;
}

#em{
    font-size: 2em;
}
#pixeles{
    font-size: 14px;
}